<div class="container">
  <div class="row">
    <div class="col-xl-12 text-center">
      <%= button to: Routes.auth_path(@conn, :index), method: "get", class: "btn btn-primary btn-lg" do %>
          <i class="fa fa-google"></i>
          Sign in with Google
      <% end %>
    </div>
  </div>
</div>
