<%= f = form_for @conn, Routes.sheet_path(@conn, :create), as: :sheet, class: "form-inline" %>
    <div class="form-group mx-sm-3 mb-2">
        <%= select f, :book_id, @books, class: "form-control custom-select"%>
    </div>
    <%= submit "Submit", class: "btn btn-primary mb-2" %>
</form>
